@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background:
    radial-gradient(circle at top left, rgba(255,0,0,0.28), transparent 30%),
    radial-gradient(circle at top right, rgba(255,40,40,0.22), transparent 28%),
    radial-gradient(circle at bottom left, rgba(120,0,0,0.25), transparent 35%),
    radial-gradient(circle at bottom right, rgba(255,0,60,0.18), transparent 30%),
    linear-gradient(
      135deg,
      #000000 0%,
      #120000 20%,
      #1a0000 40%,
      #260000 60%,
      #140000 80%,
      #000000 100%
    );

  background-attachment: fixed;

  color: white;
  font-family: sans-serif;
}